@model SchooleProject.Models.Entities.DishIngredentView
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="dish.DishId" />
            <div class="form-group">
                <label class="control-label">Category</label>
                <select asp-for="dish.categoryId" class="form-control" asp-items="ViewBag.CategoryList"></select>
                <span asp-validation-for="dish.categoryId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="dish.Name" class="control-label"></label>
                <input asp-for="dish.Name" class="form-control" />
                <span asp-validation-for="dish.Name" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="dish.Price" class="control-label"></label>
                <input asp-for="dish.Price" class="form-control" />
                <span asp-validation-for="dish.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var item in Model.ingredient)
                {
                    var check = Model.dish.DishIngredients.Any(x => x.IngredientId == item.IngredientId) ? "checked" : "";
                    <input type="checkbox" name="@item.IngredientId" @check />
                    <span asp-for="@item.Name">@item.Name</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back To List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}